#main {
	background-color: #FFFFFF;
	border: 1px solid #D0D0D0;
	border-radius: 10px 10px 10px 10px;
	overflow: hidden;
	padding: 10px;
	min-height: 500px;
	width: 930px;
	margin: 0 auto;
	background: url("../images/warrior.jpg");
}

#main .pic-slide {
	width: 400px;
	margin: 10px 20px auto;
	text-align: center;
	padding-top: 150px;
}

#main .welcome-board{
	margin-top: 30px;
	margin-left:20px;
	text-align: center;
}