@font-face {
  font-family: 'Maven Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Maven Pro Regular'), local('MavenProRegular'), url(./font/maven_pro.woff) format('woff');
}

ul,ol{
	list-style: none;
}

#header .brand{
	font-family: 'Maven Pro',sans-serif;
	font-size: 35px;
	letter-spacing:-3px;
	color: #EDEDED;
	text-shadow: 1px 1px 0px #999, 2px 2px 0px #999;
}

#main {
	background-color: #FFFFFF;
	border: 1px solid #D0D0D0;
	border-radius: 10px 10px 10px 10px;
	overflow: hidden;
	padding: 10px;
	min-height: 500px;
	width: 930px;
	margin: 0 auto;
	background: url("../images/warrior.jpg");
}

#main .pic-slide {
	width: 400px;
	margin: 10px 20px auto;
	text-align: center;
	padding-top: 150px;
}

#main .welcome-board{
	margin-top: 30px;
	margin-left:20px;
	text-align: center;
}

/* content start */
#content {
	width: 960px;
	margin: 0 auto;
	overflow: hidden;
	text-align: left;
	padding: 0 10px;
	
	/*background:rgba(252,252,252,0.8)*/
}
/* content end */

/* posts start */
#posts {
	float: left;
	width: 640px;
}

#posts a{
	text-decoration: none;
	color: #3d3d3d;	
}

#slidebar a{
	text-decoration: none;
	color: #888;	
}

#posts a:hover, #slidebar a:hover{
	color: #ff6600;	
}

.single-post{
	width: 620px;
	margin: 0;
	padding: 0 10px 10px 0px;
	border-bottom: 1px solid #E0E0E0;
}

.single-post-image{
	 margin-top: 35px;
	 overflow: hidden;
}

.single-post-text{
	width: 620px;
	margin-top: 25px;	
}

.single-post-content{
	width: 420px;
	padding-right:20px;
	margin-top: 15px;
	color:#888;
	line-height: 24px;
}

.meta{	
	margin-top: 15px;
	padding-left: 15px;	
	color:#aaa;
	line-height: 24px;
	border-left: 1px solid #E0E0E0;
}

.full-post{
	margin-top: 35px;
	overflow: hidden;
}

.meta-full-post{
	padding: 10px 0;
	border-bottom: 1px solid #E0E0E0;
}

.full-post-content{
	margin: 20px 0;
}

#respond{
	margin: 25px 0;
	padding: 25px 0;
}

#respond .postcomment{
	margin-bottom: 20px;
}

#respond textarea{
	width: 340px;
	resize:none;
}
/* posts end*/

/*comment start*/
.comment{
	
}
.comment_c{
	border-bottom: 1px dotted #E0E0E0;
	padding: 30px 0 10px;
}

.comment_c p{
	margin: 10px 0;
	
	
}
/*comment end*/

/* slidebar start */
#slidebar {
	width:320px;
	float: left;
	color: #888;
	padding-bottom: 35px;
	line-height: 24px;
}

.search-form{
	margin: 35px 0 28px 0;
}
.search-form form input, #respond input{
	width: 230px;
	height: 30px;
	padding: 0 5px;
	font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
	font-size: 12px;
	color: #aaaaaa;
	line-height: 20px;
	background: #ffffff;
}

#slidebar ul{
	margin: 0px;
}

#slidebar ul li{
	line-height: 24px;
	padding: 3px 0;
	border-bottom: 1px dotted #E0E0E0;
}

.sidebar-content h4{
	font-weight: 600;
}

.div-waition{
	background:url("data:image/gif;base64,R0lGODlhEAALAPQAAP///z2LqeLt8dvp7u7090GNqz2LqV+fuJ/F1IW2ycrf51aatHWswaXJ14i4ys3h6FmctUCMqniuw+vz9eHs8fb5+meku+Tu8vT4+cfd5bbT3tbm7PH2+AAAAAAAAAAAACH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCwAAACwAAAAAEAALAAAFLSAgjmRpnqSgCuLKAq5AEIM4zDVw03ve27ifDgfkEYe04kDIDC5zrtYKRa2WQgAh+QQJCwAAACwAAAAAEAALAAAFJGBhGAVgnqhpHIeRvsDawqns0qeN5+y967tYLyicBYE7EYkYAgAh+QQJCwAAACwAAAAAEAALAAAFNiAgjothLOOIJAkiGgxjpGKiKMkbz7SN6zIawJcDwIK9W/HISxGBzdHTuBNOmcJVCyoUlk7CEAAh+QQJCwAAACwAAAAAEAALAAAFNSAgjqQIRRFUAo3jNGIkSdHqPI8Tz3V55zuaDacDyIQ+YrBH+hWPzJFzOQQaeavWi7oqnVIhACH5BAkLAAAALAAAAAAQAAsAAAUyICCOZGme1rJY5kRRk7hI0mJSVUXJtF3iOl7tltsBZsNfUegjAY3I5sgFY55KqdX1GgIAIfkECQsAAAAsAAAAABAACwAABTcgII5kaZ4kcV2EqLJipmnZhWGXaOOitm2aXQ4g7P2Ct2ER4AMul00kj5g0Al8tADY2y6C+4FIIACH5BAkLAAAALAAAAAAQAAsAAAUvICCOZGme5ERRk6iy7qpyHCVStA3gNa/7txxwlwv2isSacYUc+l4tADQGQ1mvpBAAIfkECQsAAAAsAAAAABAACwAABS8gII5kaZ7kRFGTqLLuqnIcJVK0DeA1r/u3HHCXC/aKxJpxhRz6Xi0ANAZDWa+kEAA7AAAAAAAAAAAA");
}
/* slidebar end */

/*common css*/
.center{
	margin: 0 auto;
}

.text-center{
	text-align: center;
}

.color_orange{
	color: #FF6600;
}
/*common css*/
